<% include header %>
<div class="centered-wrapper">
    <div class="portfolio-content">

        <div id="slides">
            <div class="slides_container">
                <div class="slide">
                    <a href="../../../images/jj-royal.jpg" rel="prettyPhoto[pp_gal]" title="Portfolio Image 1"><img src="../../../images/portfolio/jj-royal.jpg" alt=" "></a>
                </div>
                <div class="slide">
                    <a href="../../../images/jj-royal-2.jpg" rel="prettyPhoto[pp_gal]" title="Portfolio Image 1"><img src="../../../images/portfolio/jj-royal-2.jpg" alt=" "></a>
                </div>
            </div>
            <a href="#" class="prev"><img src="../../../images/blog-arrow-prev.png" width="27" height="43" alt="Arrow Prev"></a>
            <a href="#" class="next"><img src="../../../images/blog-arrow-next.png" width="27" height="43" alt="Arrow Next"></a>
        </div><!--end slides-->

        <span class="masonry-post-meta">
            <p>
                <% if (user && user.name == post.name) { %>
                <span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">编辑</a></span>
                <span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">删除</a></span>
                <% } %>
            </p>
        </span>
        <div class="clear"></div>
        <p><h2><%= post.title %></h2></p>
        <p>
            作者：<a href="/u/<%= post.name %>"><%= post.name%></a>
            日期：<%= post.time.minute%>
            标签：
            <% post.tags.forEach( (tag, index)=>{ %>
            <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
            <% }) %>
        </p>
        <p class="info">&#x3000;&#x3000;<%- post.post %></p>
        <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
        <%- include comment.ejs%>
        <div class="space"></div>

        <h6>推荐风景秀</h6>

        <div class="portfolio-gallery">
            <a href="../../../images/1_jj.jpg" rel="prettyPhoto[pp_gal]">
                <span class="item-on-hover"><span class="hover-image"></span></span>
                <img src="../../../images/portfolio/1_jj.jpg" alt=" " />
            </a>
            <a href="../../../images/4_jj.jpg" rel="prettyPhoto[pp_gal]">
                <span class="item-on-hover"><span class="hover-image"></span></span>
                <img src="../../../images/portfolio/4_jj.jpg" alt=" " />
            </a>
            <a href="../../../images/5_jj.jpg" rel="prettyPhoto[pp_gal]">
                <span class="item-on-hover"><span class="hover-image"></span></span>
                <img src="../../../images/portfolio/5_jj.jpg" alt=" " />
            </a>
            <a href="../../../images/3_jj.jpg" rel="prettyPhoto[pp_gal]">
                <span class="item-on-hover"><span class="hover-image"></span></span>
                <img src="../../../images/portfolio/3_jj.jpg" alt=" " />
            </a>
            <a  title="JJ Royal" href="../../../images/6_jj.jpg" rel="prettyPhoto[pp_gal]">
                <span class="item-on-hover"><span class="hover-image"></span></span>
                <img alt=" " src="../../../images/portfolio/6_jj.jpg" />
            </a>
        </div>

    </div><!--end portfolio content-->
    <div class="clear"></div>
</div><!--end centered-wrapper-->

<div class="space"></div>

<% include footer %>